<table>
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email Address</th>
            <th>Birthday</th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let staffItem of staffList | async" >
            <td> {{ staffItem.username }} </td>
            <td> {{ staffItem.email }} </td>
            <td> {{ staffItem.birthdate }} </td>
            <td> 
                <a [routerLink]="['/staff', staffItem.id]" >Details</a>
            </td>
        </tr>
    </tbody>
</table>